
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #FDFDFE;
    font-family: 'Familjen Grotesk', sans-serif;
}

/* ******************HEADER******************** */
.nav{
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    background: #E6EEF6;
}

@media only screen and (max-width: 805px){
    .nav{
        display: flex;
    }
}
.nav_logo{
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
}

.nav_logo a{
    font-size: 72px;
    font-weight: 900;
    margin-left: 1.5rem;
    color: #034C95;
    text-decoration: none;
    /* border: 2px solid red; */
}

.nav_links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_link{
    font-size: 32px;
    margin: 2rem;
}

.nav_link a{
    text-decoration: none;
    color: #012345;
}

.nav_link a:hover{
    color: #034C95;
}

.nav_signin_signup{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin a{
    text-decoration: none;
    color: #E82E5D;
    font-size: 24px;
    margin-right: 3.3rem;
}

.signin a:hover{
    color: #034C95;
}

.btn {
    -webkit-border-radius: 16;
    -moz-border-radius: 16;
    border-radius: 16px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #034C95;
    border:#034C95;
    padding: 16px 24px 16px 24px;
    text-decoration: none;
}
  
.btn:hover {
    text-decoration: none;
    cursor: pointer;
    background: #012345;;
}


/* TOGGLE BUTTON CODE */

.menu__btn{
    position: relative;
    top: -.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:4vh;
    cursor: pointer;
    transition: all .5s ease-in-out;
    display: none;
    padding: 2rem 0;
}
  
.menu__btn--burger{
    width: 40px;
    height: 4px;
    background-color: #034C95;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu__btn--burger::before{
    content:"";
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: #034C95;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    transform: translateY(-15px);
}

.menu__btn--burger::after{
    content:"";
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: #034C95;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    transform: translateY(15px)
}
  
  
.responsive{
    /* border: 2px solid black; */
    display: none;
    
}

.responsive div{
    padding: 2rem 0;
    text-align: center;
    background-color: #E6EEF6;
    /* border-bottom: 2px solid black; */
    cursor: pointer;
    color: #034C95;
    font-size: 1.3rem;
}

.responsive a{
    text-decoration: none;
    color: #034C95;
}

.responsive div:hover{
    font-size: 1.6rem;
    background-color: #fff;
}
  
.responsiveBlock{
    display:block;
    animation: reappear 0.5s linear reverse;
}

.responsive progress{
    width: 70%;
}

.responsive .username{
    margin-bottom: 30px;
}
  
  
  
/* ANIMATION */
/* nav section menu__btn */

.menu__btn.open .menu__btn--burger{
    transform: scaleX(-20px);
    background: transparent; 
}

.menu__btn.open .menu__btn--burger::before{
    transform: rotate(45deg) ;
}

.menu__btn.open .menu__btn--burger::after{
    transform: rotate(-45deg) ;
}

/* menuDropdown */
@keyframes reappear {
  0%{
    transform: translateX(0%);
    opacity: 1;
  }

  25%{
    transform:translateX(25%);
    opacity:0.8;
  }

  50%{
    transform:translateX(50%);
    opacity:0.5;
  }

  75%{
    transform:translateX(75%);
    opacity: 0.25;
  }

  100%{
    transform:translateX(150%);
    opacity:0;
  }
}
  
@media only screen and (max-width: 1430px){
    .nav{
        padding: 24px 12px;
    }
    .nav_logo img{
        /* border: 2px solid red; */
        width: 40px;
        height: 40px;
    }

    .nav_logo a{
        font-size: 32px;
        margin-left: 0.75rem;
    }

    .nav_link{
        font-size: 20px;
        margin: 0.75rem;
    }

    .signin a{
        text-decoration: none;
        color: #E82E5D;
        font-size: 20px;
        margin-right: 0.83rem;
    }
}
@media only screen and (max-width:830px) {
    .nav{
        padding: 8px 20px;
    }
    .menu__btn{
        display: block;
    }

    .nav_links, .nav_signin_signup{
        display: none;
    }

}




main{
    display: grid;
    grid-template-areas: 
    'A B B B'
    'A C C F'
    'A D D G'
    'A D D I'
    'A E E H'
    ;
    gap: 20px;
}

@media only screen and (max-width: 805px){
    main{
       display: flex;
       flex-direction: column;
       padding:0 20px;
    }
    
}

/* sidebar */
.A{
    background-color:#B1CAE3;
    grid-area: A;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(1, 35, 69, 0.1);
    height: 100%;
    padding: 50px;
    width: 330px;
    /* border: 2px solid red; */
}
@media only screen and (max-width:992px) {
    .A{
        width: 300px;
    }
}

@media only screen and (max-width: 805px){
    .A{
        display: none;
    }
}
.B{
    background-color: #FDFDFE;
    grid-area: B;
    border-radius: 10px;
    padding-top: 50px;
    /* border: 2px solid red; */
}
@media only screen and (max-width:992px) {
    .B{
        padding-top: 37px;
    }
}
.C{
    background-color:  #FAFCFE;
    grid-area: C;
    border-radius: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    padding: 10px 120px;
}

.D{
    background-color:  #FAFCFE;
    grid-area: D;
    border-radius: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    padding-left: 120px;
    padding-top: 10px;
    padding-right: 120px;
}
.E{
    background-color:  #FAFCFE;
    grid-area: E;
    border-radius: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 20px;
}

@media only screen and (max-width: 992px){
    .C, .D, .E{
        padding-left: 30px;
        padding-right: 30px ;
    }
}
.F{
    background-color:  #FAFCFE;
    grid-area: F;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(1, 35, 69, 0.2);
    padding: 20px;
}
.G{
    background-color:  #FAFCFE;
    grid-area: G;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(1, 35, 69, 0.2);
    padding: 10px;
}
.H{
    background-color:  #FAFCFE;
    grid-area: H;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(1, 35, 69, 0.2);
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 40px;
}
.I{
    grid-area: I;
    padding: 0px 30px;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.icon{
    height: 30px;
}
@media only screen and (max-width:992px) {
    .icon{
        height: 39px;
    }
}
progress{
    width:100%;
    height: 30px;
    margin-top: 10px;
    border-radius: 12px;
}
@media only screen and (max-width:992px) {
    progress{
        height: 16px;
    }
}
progress::-webkit-progress-bar {
    border: 0;
    height: 30px;
    border-radius: 12px;
}
progress::-webkit-progress-value {
    border: 0;
    height: 30px;
    border-radius: 12px;
}
progress::-moz-progress-bar {
    border: 0;
    height: 30px;
    border-radius: 12px;
}
/* background: */
progress::-webkit-progress-bar {background-color: #f5b8c7; width: 100%;}
progress {background-color: #f5b8c7;}

/* value: */
progress::-webkit-progress-value {background-color: #6B152B !important;}
progress::-moz-progress-bar {background-color: #6B152B !important;}
progress {color: #6B152B;}
.total{
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 20px;
    line-height: 25px;
/* identical to box height */
    font-weight: 500;
    color: #6B152B;
}
#sec-A{
    list-style: none;
    display: flex;
    padding-bottom: 45px;
}
#sec-B{
    list-style: none;
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    margin-top: 60px;
    
}
.out{
    color: red;
}
.arrow{
    width: 50%;
}
a{
    text-decoration: none;
    font-family: 'Clash Grotesk', sans-serif;
    font-weight: 500;
    color: #034C95;
    font-size: 16px;
}
.dashboard{
    font-family: 'Clash Grotesk', sans-serif;
    font-weight:500;
    color: #034C95;
    padding-top: 30px;
}
@media only screen and (max-width:992px) {
    .dashboard{
        font-size: 20px; 
    }
}
.details{
   color: #034C95;
   font-family: 'Clash Grotesk', sans-serif;
   font-weight: 500;
   padding-top: 40px;
}
@media only screen and (max-width:992px) {
    .details{
        font-size: 16px;
    }
}
.details :nth-child(2){
    padding-top: 10px;
}
.list{
    color: #034C95;
    font-family: 'Clash Grotesk', sans-serif;
    font-weight: 500;
    padding-top: 30px;
}
.signout{
    color:#034C95;
    font-family: 'Clash Grotesk', sans-serif;
    font-weight: 500;
}
.li{
    height: 15px;
    padding-right: 10px;
}
.li1{
    height: 25px;
}
h1{
    font-family: 'Clash Grotesk', sans-serif;
    font-weight: 500;
    font-weight: light;
}
#text{
    /* Hello, split those large files here */

    font-family: 'Clash Grotesk';
    font-style: normal;
    font-weight: 500;

   /* IOTA/Primary/primary-900 */

    color: #012345;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;
    font-weight: lighter;
    /* border: 2px solid red; */
}

@media only screen and (max-width:805px){
    .search{
        display: none;
    }

    .F, .G, .H{
        display: none;
    }
}
.search-files{
    font-family: 'Clash Grotesk';
    font-style: normal;
    font-weight: 500;
    color: #034C95;
    flex-direction: row;
    align-items: center;
    padding: 14px 0px 14px 16px;
    gap: 10px;
    font-size: 18px;
    width: 270px;
    height: 56px;

    /* Neutral/Neutral primary/White primary */

    background: #FDFDFE;
    /* IOTA/Primary/Main primary */

    border: 1px solid #034C95;
    border-radius: 8px;
}
#text,p{
    font-family: 'Clash Grotesk';
    font-style: normal;
    font-weight: 500;
}
.upload{
    font-family: 'Clash Grotesk';
    font-style: normal;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:150px;
    color: #012345;
}
#up{
    font-family: 'Clash Grotesk', sans-serif;
    font-weight: 500;
}
#upload{
    padding-top: 10px;
}
.choose{
    padding-top: 10px;
}
#fieldset{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 30px;
    border-radius: 8px;
}
::-webkit-file-upload-button{
    padding: 10px 0px;
    width: 130px;
    text-align: center;
    background-color:  #FAFCFE;
    border: 1px solid #034C95;
    color:#034C95;
    border-radius: 8px;
    gap:25px;
    margin-right: 30px;
    font-family: 'Clash Grotesk', sans-serif;
    font-weight: 500;
}
#cust{
    font-family: 'Clash Grotesk', sans-serif;
    font-weight: 500;
}
.customize{
    font-family: 'Clash Grotesk';
    font-style: normal;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:150px;
    color: #012345;
}
#size{
    font-family: 'Clash Grotesk';
}
.chunk{
    font-family: 'Clash Grotesk';
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}


.chunk div{ 
    display: flex;
    align-items: center;
}

.chunk label{
    margin-right: 10px;
}
.splittings{
    font-family: 'Clash Grotesk';
    display: flex;
    gap: 35px;
    padding-bottom: 5px;
}
#chun{
    font-weight: bold;
    color: #034C95;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid #8BB0D5;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 25px;
    height: 30px;
}
#chunk{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px;
    width: 103px;
    height: 30px;
    gap: 20px;
    background: #FFFFFF;
    /* IOTA/Primary/Main primary */

    border: 1px solid #034C95;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Clash Grotesk';
    text-align: center;
    margin-bottom: 15px;
}


.select{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.custom{
    padding-top: 10px;
    /* white-space: nowrap; */
    width: 100%;
}

.inner-div{
    display: flex;
    margin-top: 10px;
}
#form{
    padding-top: 10px;
}
#split{
    /* Button */


/* Auto layout */

    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    padding: 13px 70px;
    gap: 8px;
    background: #034C95;
    border-radius: 16px;
    border: 1px solid #034C95;
    font-family: 'Clash Grotesk', sans-serif;
    font-weight: 500;
    font-size: large;
    color: #FDFDFE;
}
.split{
    margin-bottom: 15px;
}
#act{
    font-family: 'Clash Grotesk', sans-serif;
    font-weight: 500;
}
.recent{
    font-family: 'Clash Grotesk';
    font-style: normal;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    gap:100px;
    color: #012345;
}
.seven{
    padding-top: 10px;
    font-size: small;
}
.l2{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}
.l3{
    text-align: left;
    width: 69%;
}
.when{
    text-align: right;
    width: 30%;
}
#view{
    color: red;
}
.view{
    display: flex;
    margin-left: 25%;
    margin-top: 25px;
}
.download{
    display: flex;
    flex-direction: row;
    font-family: 'Clash Grotesk';
    font-style: normal;
    align-items: center;
    gap: 120px;
    color: #012345;
}
#all{
    color: red;
}
.download-button{
    padding-top: 25px;
    display: flex;
    justify-content: center;
}
#download-button{
    padding: 10px 30px;
    color:  #FAFCFE;
    border: 1px solid #034C95;
    background-color:#034C95;
    border-radius: 8px;
    font-family: 'Clash Grotesk';
    font-style: normal;
    font-size: 16px;
}
.files{
    font-size: 13px;
    padding-top: 25px;
    text-align: center;
}
.share{
    display: flex;
    flex-direction: row;
    font-family: 'Clash Grotesk';
    font-style: normal;
    align-items: center;
    gap: 150px;
    color: #012345;
}
.link{
    padding-top: 40px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
}
#link{
    color: #6B152B;
    padding: 7px 10px;
}
#copy{
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
#come{
    font-family: 'Clash Grotesk', sans-serif;
    font-weight: 500;
    font-size: 25px;
}
.li3{
    margin-top: 13px;
    height: 30px;
}
.soon{
    font-family: 'Clash Grotesk';
    font-style: normal;
    display: flex;
    flex-direction: row;
    color: #012345;
}
.format{
    font-size: small;
    padding-top: 10px;
    font-weight: light;
    font-size: 13px;
    display: flex;
    white-space: nowrap;
}
#ul{
    padding-bottom: 15px;
}
ul{
    font-family: 'Clash Grotesk';
    font-style: normal;
    font-weight: 500;
    align-items: center;
}
.mail{
    font-size: smaller;
    padding-bottom: 10px;
}
#mail{
    background-color: #E6EEF6;
    border: 1px solid #E6EEF6;
    color: #012345;
    padding: 14px 16px;
    border-radius: 8px;
}
#submit{
    font-family: 'Clash Grotesk';
    font-style: normal;
    border: 1px solid red;
    background-color: #FAFCFE;
    color: red;
    margin-top: 25px;
    padding: 7px 50px;
    border-radius: 30px;
    margin-bottom: 25px;
}

