/* ************HEADER CSS******************* */
* {
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
}

html,
body {
  background-color: #fdfdfe;
  min-height: 100vh;
  max-height: 100vh;
}

.nav {
  font-family: "Clash Grotesk", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background: #e6eef6;
}

.nav_logo {
  display: flex;
  align-items: center;
  padding-left: 40px;
  /* border: 2px solid red; */
}

.nav_logo a {
  font-size: 72px;
  font-weight: 900;
  margin-left: 1.5rem;
  color: #034c95;
  text-decoration: none;
  /* border: 2px solid red; */
}

.nav_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_link {
  font-size: 32px;
  margin: 2rem;
}

.nav_link a {
  text-decoration: none;
  color: #012345;
}

.nav_link a:hover {
  color: #034c95;
}

.nav_signin_signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
}

.signin a {
  text-decoration: none;
  color: #e82e5d;
  font-size: 24px;
  margin-right: 3.3rem;
}

.signin a:hover {
  color: #034c95;
}

.btn {
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: "Clash Grotesk", sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #034c95;
  border: #034c95;
  padding: 16px 24px 16px 24px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: #3575b6;
}

/* TOGGLE BUTTON CODE */

.menu__btn {
  position: relative;
  top: -0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 4vh;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  display: none;
  padding: 2rem 0;
}

.menu__btn--burger {
  width: 40px;
  height: 4px;
  background-color: #034c95;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu__btn--burger::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: #034c95;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  transform: translateY(-15px);
}

.menu__btn--burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: #034c95;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  transform: translateY(15px);
}

.responsive {
  /* border: 2px solid black; */
  display: none;
}

.responsive div {
  padding: 2rem 0;
  text-align: center;
  background-color: #e6eef6;
  /* border-bottom: 2px solid black; */
  cursor: pointer;
  color: #034c95;
  font-size: 1.3rem;
}

.responsive a {
  text-decoration: none;
  color: #034c95;
}

.responsive div:hover {
  font-size: 1.6rem;
  background-color: #fff;
}

.responsiveBlock {
  display: block;
  animation: reappear 0.5s linear reverse;
}

/* ANIMATION */
/* nav section menu__btn */

.menu__btn.open .menu__btn--burger {
  transform: scaleX(-20px);
  background: transparent;
}

.menu__btn.open .menu__btn--burger::before {
  transform: rotate(45deg);
}

.menu__btn.open .menu__btn--burger::after {
  transform: rotate(-45deg);
}

/* menuDropdown */
@keyframes reappear {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  25% {
    transform: translateX(25%);
    opacity: 0.8;
  }

  50% {
    transform: translateX(50%);
    opacity: 0.5;
  }

  75% {
    transform: translateX(75%);
    opacity: 0.25;
  }

  100% {
    transform: translateX(150%);
    opacity: 0;
  }
}

@media only screen and (max-width: 1430px) {
  .nav {
    padding: 24px 12px;
  }
  .nav_logo img {
    /* border: 2px solid red; */
    width: 40px;
    height: 40px;
  }

  .nav_logo a {
    font-size: 32px;
    margin-left: 0.75rem;
  }

  .nav_link {
    font-size: 20px;
    margin: 0.75rem;
  }

  .signin a {
    text-decoration: none;
    color: #e82e5d;
    font-size: 20px;
    margin-right: 0.83rem;
  }
}
@media only screen and (max-width: 830px) {
  .nav {
    padding: 8px 0px 8px 10px;
  }
  .menu__btn {
    display: block;
  }

  .nav_links,
  .nav_signin_signup {
    display: none;
  }
}

/** body contents**/
h4 {
  font-family: "Clash Grotesk", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #0353a4;
}

label {
  font-family: "Clash Grotesk", sans-serif;
  font-size: 20px;
  color: #012345;
}

input {
  width: 400px;
  padding: 10px;
  border: none;
}

input[placeholder="Enter your username"] {
  font-family: "Clash Grotesk", sans-serif;
  color: #a3a9af;
  font-size: 12px;
  font-weight: 300;
}

input[placeholder="Enter your password"] {
  font-family: "Clash Grotesk", sans-serif;
  color: #a3a9af;
  font-size: 12px;
  font-weight: 300;
}

.layer {
  padding-bottom: 30px;
}
.content {
  background-color: #f4f7fb;
  margin: 0 auto;
  width: 95%;
  height: max-content;
  /* padding-left: 180px; */
  padding-top: 40px;
  padding-bottom: 60px;
}

.option {
  width: 20px;
  height: 20px;
}

#click {
  width: 200px;
  font-family: "Clash Grotesk", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #e82e5d;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  gap: 8px;
  background-color: #f4f7fb;
  border: 1px solid #e82e5d;
  border-radius: 10px;
}

#click:hover {
  cursor: pointer;
  border: 1px solid #8c1c38;
  border-radius: 16px;
}

#btn {
  border-radius: 10px;
  width: 150px;
  font-family: "Clash Grotesk", sans-serif;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  background: #034c95;
  border: #034c95;
  padding: 12px 30px 12px 30px;
  text-decoration: none;
}

#btn:hover {
  cursor: pointer;
  background-color: #3575b6;
}

.bottom {
  font-size: 12px;
  position: relative;
  bottom: 20px;
}

#last {
  text-decoration: none;
}

#last:hover {
  cursor: pointer;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 32px 0px ; */
  font-family: "Clash Grotesk", sans-serif;
  font-size: 14px;
  width: 400px;
}

.checkbox div {
  margin: 12px 0px 24px;
  display: flex;
  align-items: center;
}

.checkbox input {
  border: 10px solid red;
  width: 20px;
  height: 20px;
  padding: 20px;
}

.checkbox label {
  margin-left: 18px;
}

.forgot {
  /* margin-bottom: 12px; */
  font-size: 12px;
}

.forgot a {
  text-decoration: none;
  color: #034c95;
}

@media only screen and (max-width: 1430px) {
  .content {
    padding-left: 150px;
  }
}
@media only screen and (max-width: 830px) {
  .content {
    padding: 20px;
  }
}

/* VALIDATION */
.form-control input {
  border: 2px solid gray;
  border-radius: 5px;
}
.form-control {
  padding: 20px;
  position: relative;
}
.form-control .fas {
  position: absolute;
  left: 380px;
  bottom: 50px;
  visibility: hidden;
}
.form-control.error input {
  border-color: red;
}
.form-control.error i.fa-exclamation-circle {
  visibility: visible;
  color: red;
}
.form-control small {
  position: absolute;
  visibility: hidden;
  bottom: 10px;
  left: 20px;
  font-family: 'Clash Grotesk', sans-serif;
}
.form-control.error small {
  visibility: visible;
  color: red;
}
