/* ************HEADER CSS******************* */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    font-family: 'Familjen Grotesk', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    background: #E6EEF6;
}

.nav_logo{
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
}

.nav_logo a{
    font-size: 72px;
    font-weight: 900;
    margin-left: 1.5rem;
    color: #034C95;
    text-decoration: none;
    /* border: 2px solid red; */
}

.nav_links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_link{
    font-size: 32px;
    margin: 2rem;
}

.nav_link a{
    text-decoration: none;
    color: #012345;
}

.nav_link a:hover{
    color: #034C95;
}

.nav_signin_signup{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin a{
    text-decoration: none;
    color: #E82E5D;
    font-size: 24px;
    margin-right: 3.3rem;
}

.signin a:hover{
    color: #034C95;
}

.btn {
    -webkit-border-radius: 16;
    -moz-border-radius: 16;
    border-radius: 16px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #034C95;
    border:#034C95;
    padding: 16px 24px 16px 24px;
    text-decoration: none;
}
  
.btn:hover {
    text-decoration: none;
    cursor: pointer;
    background: #012345;;
}

/* form validation css code */
.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}
/* TOGGLE BUTTON CODE */

.menu__btn{
    position: relative;
    top: -.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:4vh;
    cursor: pointer;
    transition: all .5s ease-in-out;
    display: none;
    padding: 2rem 0;
}
  
.menu__btn--burger{
    width: 40px;
    height: 4px;
    background-color: #034C95;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu__btn--burger::before{
    content:"";
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: #034C95;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    transform: translateY(-15px);
}

.menu__btn--burger::after{
    content:"";
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: #034C95;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    transform: translateY(15px)
}
  
  
.responsive{
    /* border: 2px solid black; */
    display: none;
    
}

.responsive div{
    padding: 2rem 0;
    text-align: center;
    background-color: #E6EEF6;
    /* border-bottom: 2px solid black; */
    cursor: pointer;
    color: #034C95;
    font-size: 1.3rem;
}

.responsive a{
    text-decoration: none;
    color: #034C95;
}

.responsive div:hover{
    font-size: 1.6rem;
    background-color: #fff;
    
}
  
.responsiveBlock{
    display:block;
    animation: reappear 0.5s linear reverse;
}
  
  
  
/* ANIMATION */
/* nav section menu__btn */

.menu__btn.open .menu__btn--burger{
    transform: scaleX(-20px);
    background: transparent; 
}

.menu__btn.open .menu__btn--burger::before{
    transform: rotate(45deg) ;
}

.menu__btn.open .menu__btn--burger::after{
    transform: rotate(-45deg) ;
}

/* menuDropdown */
@keyframes reappear {
  0%{
    transform: translateX(0%);
    opacity: 1;
  }

  25%{
    transform:translateX(25%);
    opacity:0.8;
  }

  50%{
    transform:translateX(50%);
    opacity:0.5;
  }

  75%{
    transform:translateX(75%);
    opacity: 0.25;
  }

  100%{
    transform:translateX(150%);
    opacity:0;
  }
}

.form-body{
    width: 100%;
    height: 80vh;
}
.form-details{
    margin: 0.625rem 1.875rem;
    background-color: #F4F7FB;
    border-radius: 1rem;;
}
.form-info{
    padding:1.25rem 11.875rem;
}
.form-welcome-details{
    margin-top: 1.25rem;
}
.form{
    width: 80%;
    margin-top: 1.875rem;
}
.form-welcome-details h3{
    color:#034c95;
    font-weight: 600;
    font-size: 2.5rem;
}
.form-welcome-details .create-account{
    color: #616467;
    font-weight: 600;
    font-size: 1.5rem;
}
.form-welcome-details .google-sign-up{
    padding: 0.25rem 0.625rem;
    color: #e82e5d;
    border:1px solid #e82e5d;
    border-radius: 0.625rem;
    font-weight: 500;
    font-size: 1.5rem ;
}
.Asterisks{
    color: #e82e5d;
}
.form-label{
    color: #1b1b1b;
    font-weight: 500;
    font-size: 1.5rem;
}
.form-control{
    color: #616467;
    font-size: 1.25rem;
}
.form-check-label{
    font-size: 1rem;
}
.having-an-account{
    font-size: 1rem;
}
.form-condition{
    color:#034c95;
    font-weight: 500;
}
.btn{
    padding: 0.3125rem 1.25rem;
    background-color: #034c95;
    font-size: 1.25rem;
    color: #fff;
}
.btn:hover{
    color: #034c95;
    font-weight: 600;
}
/* form validation css code */
.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}


/* responsive CSS */

@media only screen and (max-width: 1430px){
    .nav{
        padding: 24px 12px;
    }
    .nav_logo img{
        /* border: 2px solid red; */
        width: 40px;
        height: 40px;
    }

    .nav_logo a{
        font-size: 32px;
        margin-left: 0.75rem;
    }

    .nav_link{
        font-size: 20px;
        margin: 0.75rem;
    }

    .signin a{
        text-decoration: none;
        color: #E82E5D;
        font-size: 20px;
        margin-right: 0.83rem;
    }
}
@media only screen and (max-width:830px) {
    .nav{
        padding: 8px 20px;
    }
    .menu__btn{
        display: block;
    }

    .nav_links, .nav_signin_signup{
        display: none;
    }

}

/* SIGN UP MEDIA QUERY */
@media (min-width:700px) and (max-width:1000px) {
    .form{
        width: 85%;

    }
    .form-welcome-details h3{
        font-size: 1.5rem;
    }
    .form-welcome-details .create-account{
        font-size: 1.20rem;
    }
    .form-welcome-details .google-sign-up{
        font-size: 1rem ;
    }
    .form-label{
        font-size: 1.25rem;
    }
    .form-check-label{
        font-size: 0.75rem;
    }
    .form-control{
        font-size: 1rem;
    }
   
    .btn{
        font-size: 1rem;
       
    }
    
}
@media screen and (max-width:699px){
.form-details{
    margin:0.3125rem 3.75rem;

}
.form-info{
    padding:0.3125rem 0.9375rem;
}
.form-welcome-details{
    margin: 0.3125rem 3rem ;
}
.form{
    width: 70%;
    margin: 0.625rem 3rem ;
}
.form-welcome-details h3{
    font-size: 1.5rem;
}
.form-welcome-details .create-account{
   font-size: 1rem;
}
.form-welcome-details .google-sign-up{
    padding: 0.125rem 0.3125rem;
    font-size: 1rem;
}

.form-label{
    font-size: 1rem;
    
}
.form-control{
    color: #616467;
    font-size: 0.75rem;
}

.btn{
    padding: 0.3125rem 2.5rem;
    font-size: 1rem;
}

.having-an-account .form-check-label .form-text{
    font-size: 0.75rem;
}

  
}


