{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ request.get_host }} | error page</title>
<link rel="stylesheet" href="{% static 'css/404.css' %}">

<!-- -----------------GOOGLE FONT LINKS--------------------------- -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Familjen+Grotesk&display=swap" rel="stylesheet">
</head>
<body>
    <!-- -----------------HEADER-------------------- -->
    {% include 'navbar.html' %}

<main>
    <div>
        <div>
        <h4 class="head">Ooops!</h4>
        </div>
        <div>
        <h6 class="sub-head">We can't seem to find the page you're looking for.</h6>
        </div>
        <div class="error">
        <h6 class="error-head"><strong> Error code: 404</strong></h6>
        <p class="error-p">Here are some helpful limks instead</p>
        </div>
        <div class="links">
        <a href="{% url 'shredit:index-page' %}">Home</a>
        <a href="{% url 'shredit:dashboard' %}">Dashboard</a>
        <a href="{% url 'shredit:docs' %}">Documentation</a>
        <a href="{% url 'shredit:contact' %}">Contact Us</a>
        </div>

    </div>
    <div class="error-image">
        <img src="{% static 'images/amico.svg' %}" alt="error">
    </div>
</main>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>

