<!-- -----------------HEADER-------------------- -->
{% load static %}

<header class="header">
    <nav class="nav">
        <div class="nav_logo">
            <img src="{% static 'images/logo.svg' %}" alt="iota_logo">
            <a href="{% url 'shredit:index-page' %}">iOTA</a>
        </div>
        
        <div class="nav_links">
            <div class="nav_link"><a href="{% url 'shredit:about' %}">About us</a></div>
            <div class="nav_link"><a href="#">Documentation</a></div>
            <div class="nav_link"><a href="{% url 'shredit:contact' %}">Contact us</a></div>
            <div class="nav_link"><a href="#">Resources</a></div>
        </div>

            {% if not user.is_authenticated %}
            <div class="nav_signin_signup">
                <div class="signin"><a href="{% url 'user:user-login' %}">Sign in</a></div>
                <a href="{% url 'user:user-register' %}">
                    <button class="btn">Sign up</button>
                </a>
            </div>
            {% endif %}
    
            <div class="menu__btn"> 
                <div class="menu__btn--burger"></div>
            </div>
        </nav>
        

            <!--RESPONSIVE NAV-->
        <div class="responsive">
            <div><a href="{% url 'shredit:about' %}">About us</a></div>
            <div><a href="#">Documentation</a></div>
            <div><a href="{% url 'shredit:contact' %}">Contact us</a></div>
            <div><a href="#">Resources</a></div>
            {% if not user.is_authenticated %}
            <div><a href="{% url 'user:user-login' %}">Sign in</a></div>
            <div><a href="{% url 'user:user-register' %}">Sign up</a></div>
            {% endif %}
        </div>
</header>
{% include 'messages.html' %}