<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ request.get_host }} | change-pass page</title>
    
    <link rel="stylesheet" href="{% static 'css/forg_pass.css' %}">
    <link href="https://api.fontshare.com/v2/css?f[]=clash-grotesk@400&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        {% include 'navbar.html' %}
        {% block content_forget_pass %}

        {% endblock content_forget_pass %} 
    </main>
</body>
<script src="{% static 'js/index.js' %}"></script>
</html>