<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ request.get_host }} | login page </title>

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    
    <!-- ----------------- FONT LINKS--------------------------- -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://api.fontshare.com/v2/css?f[]=clash-grotesk@400&display=swap" rel="stylesheet">
</head>
<body>
<main>
{% include 'navbar.html' %}
<br><br>
<section class="layer">
<div class="content">
    <h4>Welcome Back</h4><br>
    <button id="click" type="button" value="text">
        <img src="{% static 'images/google-removebg-preview.png' %}" class="option">Log in with Google
    </button>
    <br>
    <br>

    <form method="POST">
        <p>
            Username<i class="fa-light fa-asterisk" style="color:#E82E5D;"></i>
        </p>
        <label for="id_username"></label>
        <input type="text" class="details" name="username" placeholder="Enter your username" 
        id='id_username' required>
        {{ form.username.errors }}
        <br>
        <br>
        <p>
            Password<i class="fa-light fa-asterisk" style="color:#E82E5D;"></i>
        </p>
        <label for="id_password"></label>
        <input type="password" class="details" name="password" placeholder="Enter your password" id="id_password">
        <div class="checkbox">
            <div>
                <input type="checkbox" name="checkbox" id="checkbox">
                <label for="checkbox">Keep me logged in</label>
            </div>
            <p class="forgot"><a href="#">Forgot password?</a></p> 
        </div>
        {% csrf_token %}
        <button type="submit" value="text" id="btn">Login</button> 
    </form>
    <br>
    <br>
    <br>
    <p class="bottom">Don't have an account? <a href="{% url 'user:user-register' %}" style="color: #0353A4;" id="last"><b>Sign up</b></a></p>

</div>
</section>
</main>
</body>
<script src="{% static 'js/login.js' %}"></script>
</html>