{% extends "main.html" %}
{% load static %}

{% block title %}
{{ request.get_host }} | about us
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.js"></script>
    <script src="https://kit.fontawesome.com/59fe96ad7b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock css %}


{% block content %}
    <section>
        <div>
            <h3 class="our-story">Our Story</h3>
        </div>
        <div class="paragraph">
            <p>iOTA is a brain child of ZuriXI4G, our intent is to make life easier for people all over the world who
                have to deal with large CSV files and Json files in their daily lives in their respective various jobs.
            </p>

            <p>From our team’s experience,we understand how frustrating it can be for people to handle large files, with
                lots of data to be consumed and processed; Yes! we understand, Hence the essence for iOTA, to ease off
                the burden on our dear users.
            </p>
            <p>iOTA was brewed
                with love in a bid of offer free, accessible and workable platformthat helps you chunk, split and sort
                your CSV and Json files in to bits, and make them easier for you to access and process your individual
                needs.
            </p>
            <p> are
                hoping that millons
                of people around the world would enjoy using iOTA and improve their work output, very soon we will add
                more formats and
                features that you can process on iOTA, but for now, Please do enjoy splitting & chunking your CSV and
                Json.
            </p>
            <p> you for trusting iOTA, we will continue to work towards giving you new features and better experience
                splitting and chunking your datas.
            </p>

        </div>

        <div class="mission">
            <p>
                We are on the mission to make data and information chunking
                as easy as surfing the internet
            </p>
        </div>
        <div>
            <h3 class="our-team">iOTA Team</h3>
        </div>

        <div class="our-team-para">
            <p>
                We are a group of people that take pride in delivering state-of-the art digital solutions to customer
                challenges
            </p>
        </div>
    </section>

    <section id="slider">
        <div class="container">
            <div class="subcontainer">
                <div class="slider-wrapper">
                    <div class="controller">
                        <div id="controls">
                            <button class="previous"><i class="fa-solid fa-angle-left"></i></button>
                            <button class="next"><i class="fa-solid fa-angle-right"></i></button>
                        </div>
                    </div>
                    <br>
                    <div class="my-slider">
                        <div>
                            <div class="slide">
                                <div class="slide-img img-1" style="background-image: url({% static 'pictures/Irene Ighalo.jpeg' %})">

                                </div>
                                <br>
                                <div class="about-des">
                                    <h3>Irene Ighalo</h3>
                                    <p>Product Designer</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-2"
                                style="background-image: url({% static 'pictures/Ibeh Joy Chiwendu.jpeg' %})">
                                </div>
                                <br>
                                <div class="about-des">
                                    <h3>Ibeh Joy Chinwendu</h3>
                                    <p>Fullstack Developer</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-3"
                                    style="background-image: url({% static 'pictures/Uchendu Chigozie Idiaka.jpeg' %})">

                                </div>
                                <br>
                                <div class="about-des">
                                    <h3>Uchendu Chigozie Idiaka</h3>
                                    <p>UI/UX Designer</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-4"
                                    style="background-image: url({% static 'pictures/Junaid Omowunmi.jpeg' %})">

                                </div>
                                <br>
                                <div class="about-des">
                                    <h3>Junaid Omowunmi</h3>
                                    <p>UI/UX Designer</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-5"
                                    style="background-image: url({% static 'pictures/Chukwu Grace Amarachi.jpeg' %})">

                                </div>
                                <br>
                                <div class="about-des">
                                    <h3>Chukwu Grace Amarachi</h3>
                                    <p>Fullstack Developer</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-6" style="background-image: url({% static 'pictures/Ibe Naomi.jpeg' %})">
                                </div>
                                <br>
                                <div class="about-des">
                                    <h3>Ibe Naomi</h3>
                                    <p>Fullstack Developer</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-7"
                                    style="background-image: url({% static 'pictures/Olakunle Adeosun.jpeg' %})">

                                </div>
                                <br>
                                <div class="about-des">
                                    <h3>Olakunle Adeosun</h3>
                                    <p>Product Designer</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-8"
                                    style="background-image: url({% static 'pictures/Chigozie Offor.jpeg' %})">

                                </div>
                                <br>
                                <div class="about-des">
                                    <h3>Chigozie Ofor</h3>
                                    <p>Product Designer (UI/UX)</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-9"
                                    style="background-image: url({% static 'pictures/Williams Uche.jpeg' %})">

                                </div>
                                <br>
                                <div class="about-des">
                                    <h3>Williams Uche</h3>
                                    <p>Mobile Dev/Product Designer</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-10" style="background-image: url({% static 'pictures/Uloma Nneji.jpeg' %})">

                                </div class="about-des">
                                <br>
                                <div>
                                    <h3>Uloma Nneji</h3>
                                    <p>Product Designer</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-11"
                                    style="background-image: url({% static 'pictures/Kanyinsola Balogun.jpeg' %})">

                                </div>
                                <br>
                                <div class="about-des">
                                    <h3>Kanyinsoa Balogun</h3>
                                    <p>Product Designer</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-12"
                                    style="background-image: url({% static 'pictures/Deborah Olatona.jpeg' %})">

                                </div>
                                <br>
                                <div class="about-des">
                                    <h3>Deborah Olatona</h3>
                                    <p>Fullstack Developer</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-13"
                                    style="background-image: url({% static 'pictures/Ijaola Omotayo Abigail.jpeg' %})">
                                </div>
                                <br>
                                <div class="about-des">
                                    <h3>Ijaola Omotayo Abigail</h3>
                                    <p>UI/UX Designer</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-14"
                                    style="background-image: url({% static 'pictures/Olaoye Isaiah.jpeg' %})">

                                </div>
                                <br>
                                <div class="about-des">
                                    <h3>Olaoye Isaiah</h3>
                                    <p>Backend Developer</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-15"
                                    style="background-image: url({% static 'pictures/Oyewole Oluwafemi David.jpeg' %})">

                                </div>
                                <br>
                                <div class="about-des">
                                    <h3>Oyewole Oluwafemi David</h3>
                                    <p>Fullstack Developer</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-16"
                                    style="background-image: url({% static 'pictures/Oshisanya Tokunbo.jpeg' %}) ">

                                </div>
                                <br>
                                <div class="about-des">
                                    <h3>Oshisanya Tokunbo 'Stunner'</h3>
                                    <p>Product Designer</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slide">
                                <div class="slide-img img-17"
                                    style="background-image: url({% static 'pictures/Adetola Adedeji.jpeg' %})">

                                </div>
                                <br>
                                <div class="about-des">
                                    <h3>Adetola Adedeji</h3>
                                    <p>Fullstack Developer</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
    </section>


{% endblock content %}

{% block js %}
<script src="{% static 'js/about.js' %}"></script>
{% endblock js %}