{% extends "main.html" %}
{% load static %}

{% block title %}
{{ request.get_host }} | landing page
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}


{% block content %}
    <!-- -----------------MID SECTION------------------------- -->
    <main>
        <section class="already">
            <p>Already signed in? <span id="dashboard" class="signin">
                <a href="{% url 'shredit:dashboard' %}">Go to dashboard</a></span></p>
        </section>
        <section class="first-main">
            <div class="first-main-content">
                <div class="bold-text">
                    <p>Absolute Freedom!
                        Split .CSV and .JSON files effortlessly.</p>
                </div>
        
                <div class="light-text">
                    <p>iOTA the all in one tool that you need to chunk
                        your data anytime from anywhere.</p>
                </div>
        
                <div class="buttons">
                    <a href="{% url 'user:user-register' %}"><button class="btn">Sign up</button></a>
                    <button class="btn btn-color">Learn more</button>
                </div>
    
                <div class="additional-info">
                    <p class="info-1"><img src="{% static 'images/tick-circle.svg' %}" alt="tick-circle"> <span>No credit card</span></p>
    
                    <p class="info-2"><img src="{% static 'images/tick-circle.svg' %}" alt="tick-circle"><span>Free  forever</span></p>
                </div>
            </div>
            
            <div class="first-main-image">

                <img src="{% static 'images/amico.svg' %}" alt="iota-image-description">
            </div>
    
        </section>

        <section class="second-main">
            <div class="second-main-image">
                <img src="{% static 'images/amico2.svg' %}" alt="iota-image-description">
            </div>

            <div class="second-main-content">
                <div class="bold-text2">
                    <p>Powerful data export tool</p>
                </div>
        
                <div class="light-text2">
                    <p>Our powerful data export tool lets you make use of the best format for your business, whether you want to divide up a huge CSV or JSON  file or cut it up into smaller chunks.</p>
                </div>
            </div>
        </section>

        <section class="chunk">
            <div class="chunk-content">
                <p>With all the tools you need in one place</p>
                <p>You data handling journey becomes simplified!</p>
            </div>
            
            <div class="chunk-image1">
                <img src="{% static 'images/chunk.svg' %}" alt="chunk files on the go">
            </div>

            <div class="chunk-image2">
                <img src="{% static 'images/chunk-mobile.svg' %}" alt="chunk files on the go">
            </div>
        </section>

        <section class="use-iota">
            <p class="p1">How people use iOTA</p>
            <p class="p2">Find out how iOTA is assisting those working in these field.</p>
            <div class="fields">
                <div class="field-one">
                    <img src="{% static 'images/salesAndMarketing.svg' %}" alt="Sales and Marketing">
                    <p class="title">Sales and Marketing</p>
                    <p class="subtitle">E-commerce</p>
                </div>

                <div class="field-one">
                    <img src="{% static 'images/school.svg' %}" alt="Schools">
                    <p class="title">Schools</p>
                    <p class="subtitle">Education Sector</p>
                </div>

                <div class="field-one">
                    <img src="{% static 'images/developers.svg' %}" alt="Developers">
                    <p class="title">Developers</p>
                    <p class="subtitle">Technology</p>
                </div>
            </div>
        </section>

        <section class="testimonial">
            <p class="title">Don’t take our words for it </p>
            <p class="subtitle">Take theirs..........</p>
            
            <div class="extend-div">
                <div class="testimony-1">
                    <p class="testimony">iOTA has helped us become better time managers despite being a free tool. We are able to keep track of orders since our large file has been splitted to smaller bits</p>
                    <div class="testimony-image">

                        <img src="{% static 'images/star.svg' %}" alt="Star">
                        <img src="{% static 'images/star.svg' %}" alt="Star">
                        <img src="{% static 'images/star.svg' %}" alt="Star">
                        <img src="{% static 'images/star.svg' %}" alt="Star">
                        <img src="{% static 'images/star.svg' %}" alt="Star">
                    </div>

                    <div class="hr"></div>

                    <div class="profile">
                        <img src="{% static 'images/adekunle.svg' %}" alt="Adekunle's image">
                        <div class="details">
                            <p class="name">Adekule Kinsley</p>
                            <p class="prof">E-commerce merchant</p>
                        </div>
                    </div>
                </div>

                <div class="testimony-2">
                    <p class="testimony">“For the first time, I'm using a platform that is free and doesn't have pop-up advertising. It is so useful and helps me manage student data efficiently”</p>
                    <div class="testimony-image">
                        <img src="{% static 'images/star.svg' %}" alt="Star">
                        <img src="{% static 'images/star.svg' %}" alt="Star">
                        <img src="{% static 'images/star.svg' %}" alt="Star">
                        <img src="{% static 'images/star.svg' %}" alt="Star">
                        <img src="{% static 'images/star.svg' %}" alt="Star">
                    </div>

                    <div class="hr"></div>

                    <div class="profile">
                        <img src="{% static 'images/esther.svg' %}" alt="Esther's image">
                        <div class="details">
                            <p class="name">Esther Howard</p>
                            <p class="prof">Administrative assistant at Onward University</p>
                        </div>
                    </div>
                </div>

                <div class="testimony-3">
                    <p class="testimony">With iOTA, I can separate files quickly and easily without feeling the need to write any code.</p>
                    <div class="testimony-image">
                        <img src="{% static 'images/star.svg' %}" alt="Star">
                        <img src="{% static 'images/star.svg' %}" alt="Star">
                        <img src="{% static 'images/star.svg' %}" alt="Star">
                        <img src="{% static 'images/star.svg' %}" alt="Star">
                        <img src="{% static 'images/star.svg' %}" alt="Star">
                    </div>

                    <div class="hr"></div>

                    <div class="profile">
                        <img src="{% static 'images/rose.svg' %}" alt="Rose's image">
                        <div class="details">
                            <p class="name">Rose Russel</p>
                            <p class="prof">Software developer</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="read-more">
                <button class="btn btn-color">Read more</button>
            </div>
        </section>
    </main>
    
{% endblock content %}

{% block js %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock js %}