/* ************HEADER CSS******************* */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Familjen Grotesk", sans-serif;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px;
  background: #e6eef6;
}

.nav_logo {
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
}

.nav_logo a {
  font-size: 72px;
  font-weight: 900;
  margin-left: 1.5rem;
  color: #034c95;
  text-decoration: none;
  /* border: 2px solid red; */
}

.nav_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_link {
  font-size: 32px;
  margin: 2rem;
}

.nav_link a {
  text-decoration: none;
  color: #012345;
}

.nav_link a:hover {
  color: #034c95;
}

.nav_signin_signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin a {
  text-decoration: none;
  color: #e82e5d;
  font-size: 24px;
  margin-right: 3.3rem;
}

.signin a:hover {
  color: #034c95;
}

.btn {
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #034c95;
  border: #034c95;
  padding: 16px 24px 16px 24px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
  cursor: pointer;
  background: #012345;
}

/* TOGGLE BUTTON CODE */

.menu__btn {
  position: relative;
  top: -0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 4vh;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  display: none;
  padding: 2rem 0;
}

.menu__btn--burger {
  width: 40px;
  height: 4px;
  background-color: #034c95;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu__btn--burger::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: #034c95;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  transform: translateY(-15px);
}

.menu__btn--burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: #034c95;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  transform: translateY(15px);
}

.responsive {
  /* border: 2px solid black; */
  display: none;
}

.responsive div {
  padding: 2rem 0;
  text-align: center;
  background-color: #e6eef6;
  /* border-bottom: 2px solid black; */
  cursor: pointer;
  color: #034c95;
  font-size: 1.3rem;
}

.responsive a {
  text-decoration: none;
  color: #034c95;
}

.responsive div:hover {
  font-size: 1.6rem;
  background-color: #fff;
}

.responsiveBlock {
  display: block;
  animation: reappear 0.5s linear reverse;
}

/* ANIMATION */
/* nav section menu__btn */

.menu__btn.open .menu__btn--burger {
  transform: scaleX(-20px);
  background: transparent;
}

.menu__btn.open .menu__btn--burger::before {
  transform: rotate(45deg);
}

.menu__btn.open .menu__btn--burger::after {
  transform: rotate(-45deg);
}

/* menuDropdown */
@keyframes reappear {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  25% {
    transform: translateX(25%);
    opacity: 0.8;
  }

  50% {
    transform: translateX(50%);
    opacity: 0.5;
  }

  75% {
    transform: translateX(75%);
    opacity: 0.25;
  }

  100% {
    transform: translateX(150%);
    opacity: 0;
  }
}

@media only screen and (max-width: 1430px) {
  .nav {
    padding: 24px 12px;
  }
  .nav_logo img {
    /* border: 2px solid red; */
    width: 40px;
    height: 40px;
  }

  .nav_logo a {
    font-size: 32px;
    margin-left: 0.75rem;
  }

  .nav_link {
    font-size: 20px;
    margin: 0.75rem;
  }

  .signin a {
    text-decoration: none;
    color: #e82e5d;
    font-size: 20px;
    margin-right: 0.83rem;
  }
}
@media only screen and (max-width: 830px) {
  .nav {
    padding: 8px 20px;
  }
  .menu__btn {
    display: block;
  }

  .nav_links,
  .nav_signin_signup {
    display: none;
  }
}
/* **************ALREADY SIGNED IN******************* */
.already {
  text-align: right;
  margin-top: 10px;
}

.already span {
  margin-left: 16px;
}

.already span a {
  font-size: 16px;
}

@media only screen and (max-width: 805px) {
  .already {
    text-align: left;
  }
}

/* BODY */

main {
  background-color: #fafcfe;
  width: auto;
  margin: 45px 21px;
}
.head {
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
}
.sub-head {
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
}
.error {
  margin-top: 32px;
}
.error-head {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}
.error-p {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 16px;
}
.links a {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #034c95;
  text-decoration: none;
  padding-bottom: 24px;
}

.error-image img {
  width: 200px;
  height: 200px;
}

@media screen and (min-width: 720px) {
   main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 42px;
   } 
   .error-image img {
  width: 300px;
  height: 300px;
}
}
@media screen and (min-width: 1024px) {
    main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 68px 81px;
   } 
   .error-image img {
  width: 400px;
  height: 400px;
}
}